<html
	xmlns:v="urn:schemas-microsoft-com:vml"
	xmlns:o="urn:schemas-microsoft-com:office:office"
	lang="en"
>
  {{> head}}
	<body
		style="background-color:#c8c8c8;margin:0;padding:0;-webkit-text-size-adjust:none;text-size-adjust:none"
	>
		<table
			class="nl-container"
			width="100%"
			border="0"
			cellpadding="0"
			cellspacing="0"
			role="presentation"
			style="mso-table-lspace:0;mso-table-rspace:0;background-color:#c8c8c8"
		>
			<tbody>
				<tr>
					<td>
            {{> @partial-block }}
            {{> footer }}
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
