<table
	class="image_block block-1"
	width="100%"
	border="0"
	cellpadding="10"
	cellspacing="0"
	role="presentation"
	style="mso-table-lspace:0;mso-table-rspace:0"
>
	<tr>
		<td class="pad">
			<div class="alignment" align="left" style="line-height:10px">
				<a href="{{host}}" target="_blank" style="outline:none" tabindex="-1">
					<img
						src="https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/0db9f180-d222-4b2b-9371-cf9393bf4764/0bd8b69e-4024-4f26-9010-6e2a146401fb/Email%20Templates%20Assets%20Folder/Logos/yourlogohere_black.png_thumb.png"
						style="display:block;height:auto;border:0;width:200px;max-width:100%"
						width="200"
						alt="Draft"
						title="Draft"
					/>
				</a>
			</div>
		</td>
	</tr>
</table>
