<table
	class="text_block block-2"
	width="100%"
	border="0"
	cellpadding="10"
	cellspacing="0"
	role="presentation"
	style="mso-table-lspace:0;mso-table-rspace:0;word-break:break-word"
>
	<tr>
		<td class="pad">
			<div style="font-family:sans-serif">
				<div
					class
					style="font-size:12px;font-family:Open Sans,Helvetica,Arial,sans-serif;mso-line-height-alt:18px;color:#000;line-height:1.5"
				>
					<p style="margin:0;font-size:12px;mso-line-height-alt:39px">
						<span style="font-size:26px;">
              <strong>
                {{> @partial-block }}
              </strong>
						</span>
					</p>
				</div>
			</div>
		</td>
	</tr>
</table>
